@import 'src/_general';

#MovieDescription_no-movie-selected {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#MovieDescription_selected-movie {
  padding: 0 20px 10px;

  h1 {
    font-size: 22px;
    font-weight: 400;
    color: $dark_colored-font-color;
  }

  p {
    font-size: 12px;
    color: $colored-font-color;
    line-height: 1.5;
  }
}